<div class="room-check" ng-controller="roomchecklist as vm">
	<div class="check-main">
		<!-- <div class="search-box">
			<form class="form-inline" role="form">
				<div class="form-group">
					<label  for="vehicleheight">房型:</label>
					<select class="form-control width-154 room-kind" placehodler="房间类型">
						<option>单人间</option>
						<option>双人间</option>
					</select>
				</div>
				<button type="submit" class="btn btn-sky width-94"><span class="glyphicon glyphicon-search"></span>搜索</button>
			</form>
		</div> -->
		<div class="room-main">
			<div class="pull-left room-l"><a href="#"><i class="room-pageup glyphicon glyphicon-chevron-left"></i></a></div>
			<div class="room-con pull-left">
				<ul class="clearfix room-ul">
					<li class="pull-left" ng-repeat="hf in vm.hotelFloorList"><a class="floor" ng-class="{'floor-active': vm.hotelFloor.id == hf.id}" ng-click="vm.activeHotelFloor(hf)">{{hf.floor}}</a></li>
				</ul>
				<div>
		                <!-- <div class="room-num text-center pull-left park-orange">11101<br />标准双人间
	                		<div class="room-explaination">
	                			<div class="room-explaination1"><span class="room-explain-txt2">房型：</span><span class="room-explain-txt">标准单人间</span></div>
	                			<div class="room-explaination1"><span class="room-explain-txt2">姓名：</span><span class="room-explain-txt">张张</span></div>
	                			<div class="room-explaination1"><span class="room-explain-txt2">电话：</span><span class="room-explain-txt">13568883681</span></div>
	                			<div class="room-explaination1"><span class="room-explain-txt2">车牌：</span><span class="room-explain-txt">湘A123456</span></div>
	                			<div class="room-explaination1"><span class="room-explain-txt2">入住时间：</span><span class="room-explain-txt">2015-04-25 17:00</span></div>
	                		</div>
		                </div>
		                <div class="room-num pull-left park-orange">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-orange">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-orange">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-orange">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-orange">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-blue">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-gray">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-gray">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-gray">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-gray">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-gray">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-gray">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-gray">11101<br />标准双人间</div>
		                <div class="room-num pull-left park-gray">11101<br />标准双人间</div> -->
		                <div class="room-num pull-left park-blue" ng-class="{'park-gray': hr.rstatus == '1' || hr.rstatus == '3','park-orange': hr.rstatus == '2','park-blue': hr.rstatus == '4','park-black': hr.rstatus == '5'}" ng-repeat="hr in vm.hotelRoomList" ng-mouseup="vm.activeHotelRoom(true,hr)" ng-mouseleave="vm.activeHotelRoom(false,hr)">{{hr.roomno}}<br />{{hr.rtname}}
		                	<div class="room-explaination" ng-show="vm.hotelRoom.id == hr.id">
	                			<div class="room-explaination1"><span class="room-explain-txt2">房型：</span><span class="room-explain-txt">{{hr.rtname}}</span></div>
	                			<div class="room-explaination1"><span class="room-explain-txt2">姓名：</span><span class="room-explain-txt">{{vm.hotelRoomInfo.cusname}}</span></div>
	                			<div class="room-explaination1"><span class="room-explain-txt2">电话：</span><span class="room-explain-txt">{{vm.hotelRoomInfo.tel}}</span></div>
	                			<div class="room-explaination1"><span class="room-explain-txt2">车牌：</span><span class="room-explain-txt">{{vm.hotelRoomInfo.vehiclenumber}}</span></div>
	                			<div class="room-explaination1"><span class="room-explain-txt2">入住时间：</span><span class="room-explain-txt">{{vm.hotelRoomInfo.intime}}</span></div>
	                		</div>
		                </div>
				</div>
				<div class="park-state"><span class="pull-left">房间状态：</span><span class="pull-left set-state park-orange"></span><span class="pull-left">已入住</span><span class="pull-left set-state park-gray"></span><span class="pull-left">空闲</span><span class="pull-left set-state park-blue"></span><span class="pull-left">空脏房</span><span class="pull-left set-state park-black"></span><span class="pull-left">不可用</span></div>
				<div class="lot-btns">
		            <div class="clearfix">
		                <div class="pull-left">
		                    <div class="pull-left lotset-all margin-12 margin-12" ng-class="{'lot-btns-active': vm.hotelBuild.id == hb.id}" ng-repeat="hb in vm.hotelBuildList">
		                        <a class="text-center" ng-class="{'set-btn2': vm.hotelBuild.id != hb.id, 'set-btn1': vm.hotelBuild.id == hb.id}" ng-click="vm.activeHotelBuild(hb)">
		                         	{{hb.bname}}
		                        </a>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
			<div class="pull-right room-l"><a href="#"><i class="room-pageup glyphicon glyphicon-chevron-right"></i></a></div>
		</div>
		<div class="clearfix margin-110">
			<div class="room-guanli">
				<div class="margin-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<span class="room-mess">标准单人间</span><span class="zhu">已入住</span><span class="zhu-num">20</span><span class="zhu">剩余</span><span class="zhu-num">5</span>
				</div>
				<div class="margin-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<span class="room-mess">大床房</span><span class="zhu">已入住</span><span class="zhu-num">20</span><span class="zhu">剩余</span><span class="zhu-num">5</span>
				</div>
				<div class="margin-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<span class="room-mess">标准双人间</span><span class="zhu">已入住</span><span class="zhu-num">20</span><span class="zhu">剩余</span><span class="zhu-num">5</span>
				</div>
				<div class="margin-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<span class="room-mess">其他</span><span class="zhu">已入住</span><span class="zhu-num">20</span><span class="zhu">剩余</span><span class="zhu-num">5</span>
				</div>
				<div class="margin-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<span class="room-mess">标准单人间</span><span class="zhu">已入住</span><span class="zhu-num">20</span><span class="zhu">剩余</span><span class="zhu-num">5</span>
				</div>
				<div class="margin-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<span class="room-mess">大床房</span><span class="zhu">已入住</span><span class="zhu-num">20</span><span class="zhu">剩余</span><span class="zhu-num">5</span>
				</div>
				<div class="margin-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<span class="room-mess">标准双人间</span><span class="zhu">已入住</span><span class="zhu-num">20</span><span class="zhu">剩余</span><span class="zhu-num">5</span>
				</div>
				<div class="margin-5 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<span class="room-mess">其他</span><span class="zhu">已入住</span><span class="zhu-num">20</span><span class="zhu">剩余</span><span class="zhu-num">5</span>
				</div>
			</div>
			<div class="room-money">
				<span class="room-mess margin-21">押金总额</span><span class="zhu-num">15960</span><span class="room-unit margin-12">元</span><span class="room-mess margin-21">开房数</span><span class="zhu-num">20</span><span class="room-unit margin-12">间</span>
			</div>
		</div>
	</div>
</div>