<div class="room-box" ng-controller="checkState as vm">
  	<div class="light-box-title"><span class="text-white">操作</span></div>
  	<div class="operat">是否改变房间状态</div>
  	<div class="text-center operat-height">
        <button type="button" class="btn navbar-btn btn-sky width-94 margin-21" ng-click="vm.cheangeView('3')"><span class="glyphicon glyphicon-ok margin-4"></span>可用</button>
        <button type="submit" class="btn navbar-btn btn-sky width-94 margin-21" ng-click="vm.cheangeView('4')"><span class="glyphicon glyphicon-remove margin-4"></span>不可用</button>
    </div>
</div>